
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  position: relative;
  max-width: 550px;
  width: 100%;
  height: 700px;
  background: #fff;
  padding: 34px;
  border-radius: 6px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}

.wrapper h2{
  position: relative;
  font-size: 30px;
  font-weight: 600;
  color: #FFD700;
}
.wrapper form{
  margin-top: 30px;
}

.title {
    text-align: center;
    text-decoration: underline;
    color: #FFD700;
}
h2 {
    text-align: center;
    color: gold;
    background-color: maroon;
}
h3 {
    text-align: center;
}
.wrapper .input-box {
    padding: 10px;
    border: maroon 2px;
}

.input-box input:focus,
.input-box input:valid{
  border-color: maroon;
}
.input-box h2{
   color: #FFD700;
   width: 100%;
   text-align: center;
   font-size: 25px;
   box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

form .text h3 a{
  color: maroon;
  text-decoration: none;
}

form .text h3 a:hover{
  text-decoration: underline;
}
.text {
    margin: 30px;
}
