@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
  }

p {
	text-align: left;
}

body {
	padding: 0;
	background-color: #f9f7f6;
	font-size: 13px;
	color: #ffcc33;
}

ul {
	display: flex;
	list-style: none;
	background-color: #7a0019;
	overflow: hidden;
	text-align: center;
	line-height:35px;
	top: 0px;
	z-index: 10000;
}

.navbar-left {
	width: 50%;
	display: flex;
}

.navbar-right {
	direction: rtl;
	width: 50%;
	display: flex;
}

li a, li a:visited {
	display: block;
	color: #ffcc33;
	padding: 10px 1%;
	text-decoration: none;
	font-weight: 600;
	font-size: 16px;
	width: 150px;
}

ul li a:hover {
	background-color: #5b0013;
	color: #ffb71e;
}

.active {
	background-color: #ffcc33 !important;
	color: #7a0019 !important;
}

.wrapper {
    position: relative;
    min-width: 400px;
    width: 70%;
    background: #7a0019;
    padding: 34px;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
	margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

h1 {
	font-size: 40px;
	font-weight: 900;
}

h2 {
	font-size: 30px;
	font-weight: 700;
}

.map h2 {
	padding: 0px 0px 30px;
}

iframe {
	width: 70%;
	height: 60%;
	margin-left: auto;
	margin-bottom: 20px;
}

p {
	text-align: center;
	font-size: 18px;
	font-weight: 600;
}




